:root {
    --mainColor: rgb(28, 28, 30);
    --secondaryColor: rgb(44, 44, 46); 

    --borderColor: rgb(255, 159, 10);

    --mainText: #eaeaea;
    --linkText:rgb(255, 159, 10);
    --secondaryText: #eeeeee;
    --previewBgColor: rgb(44, 44, 46);

    --themeDotBorder: #eaeaea;
    --previewBg: rgba(0, 0, 0, 0.1);
    --btnColor: rgb(255, 159, 10);
}