@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --main-background-color: #121212;
    --main-text-color: rgba(255, 255, 255, 0.87);
    --text-hover-color: #616e7c;
    --active-item-color: #BB86FC;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-background-color);
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
}

li, a, button{
    font-weight: 300;
    font-size: 25px;
    font-style: oblique;
    color: var(--main-text-color);
    text-decoration: none;
}

h1{
    font-weight: 500;
    font-size: 30px;
    color: var(--main-text-color);
}

.container{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.stream-element{
    z-index: 5;

    position: fixed;
}

.stream-background{
    display: block;
    width: 1708px;
    height: 708px;
    top: -4px;
    right: -4px;
    position: absolute;
    background: linear-gradient(124deg, #d6fdf7, #9f8dc6, #cbdcef, #2a1fdf, #1de840, #1ddde8, #2b1de8, #8ad3bc, #dd00f3);
    background-size: 1800% 1800%;
    z-index: -1;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    width: 100px;
    height: 100px;
    color: var(--main-text-color);
    background-image: url("./images/logo.png");
    background-size: cover;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: var(--text-hover-color);
}

.top-border{
    height: 3px;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(124deg, #d6fdf7, #9f8dc6, #cbdcef, #2a1fdf, #1de840, #1ddde8, #2b1de8, #8ad3bc, #dd00f3);
    background-size: 1800% 1800%;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}



@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}